HOST=0.0.0.0
PORT=1337
APP_KEYS=replace-with-random-key-1,replace-with-random-key-2
API_TOKEN_SALT=replace-with-api-token-salt
ADMIN_JWT_SECRET=replace-with-admin-jwt-secret
TRANSFER_TOKEN_SALT=replace-with-transfer-token-salt
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=replace-with-jwt-secret
